html, body {
  margin: 0;
}

h1, h2, a {

  text-transform: uppercase;
  text-decoration: none;
}

p {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-family: 'Lora', serif;
  font-family: 'Raleway', sans-serif;

}

.container {
  width: 940px;
  margin: 0 auto;
}

/*main*/

.main {
  background: url(minimal4.jpg) no-repeat center center;
  background-size: cover;
  height: 850px;
  text-align: center;

}

.main .container-fluid {
  position: relative;
  top: 100px;
}

.nav {
  margin: 0;
  padding: 20px;
}

.nav li {
  font-weight: 600;
  font-size: 12px;
  display: inline;
  margin-right: 25px;
  padding: 20px
}

.main h1 {
  margin-bottom:  19px;
  margin-top: 0px;
  font-size: 60px;
  color: #aeaea8;
}

.main p {
  font-size: 18px;
  margin: 0 0 30px 0;
}

.main .btn {
  background: black;
  color: white;
  padding: 8px 30px;
}

.supporting {
  text-align: center;
  padding: 20px 0 40px;
  background-color: #0d0202;
}

.supporting .col {
  float: left;
  width: 30%;
  padding: 10px;
}

.supporting h1
.supporting h2 {
  color: red;
  font-size: 20px;
  margin-bottom: 10px;
}

.supporting p {
  color: white;
  margin-bottom: 5px;
  line-height: 20px;
  font-size: 12px;
}

.clearfix {
  clear: both;
}

.feature {
  background: url(minimalnew6.jpg) no-repeat center center;
  background-size: cover;
  height: 790px;
}

.feature .container-fluid {
  position: relative;
  top: 200px;
}

.feature h2 {
  text-align: center;
  margin: 10px;
  padding: 20px;
}
